.pagging {
	display: flex;
	justify-content: center;
	gap: 10px;

	@media (max-width:$md) {
		gap: 5px;
	}

	// .pagging__arrow

	&__arrow {
		flex: 0 0 71px;
		height: 38px;
		border: solid 1px #929292;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;

		svg {
			width: 17px;
			height: 17px;

			@media (max-width:$lg) {
				width: 12px;
				height: 12px;
			}

			use {
				fill: none;
				stroke: #fff;
				transition: all 0.3s ease 0s;
			}
		}

		&:hover {
			border-color: var(--zelenyy);
		}

		&:active {
			background: var(--zelenyy);

			use {
				stroke: var(--seryy-temnyy);
			}
		}

		@media (max-width:$lg) {
			flex: 0 0 40px;
			width: 40px;
			height: 40px;
		}
	}

	// .pagging__list

	&__list {
		display: flex;
		justify-content: center;
		gap: 10px;

		@media (max-width:$md) {
			gap: 5px;
		}
	}

	// .pagging__li

	&__li {
		flex: 0 0 71px;
		width: 71px;
		height: 38px;

		@media (max-width:$lg) {
			flex: 0 0 40px;
			width: 40px;
			height: 40px;
		}

		@media (max-width:$xxs) {
			flex: 0 0 30px;
			width: 30px;
		}

		&:hover {}
	}

	// .pagging__li-dots

	&__li-dots {
		flex: 0 0 71px;
		width: 71px;
		height: 38px;
		color: #fff;

		@media (max-width:$lg) {
			flex: 0 0 40px;
			width: 40px;
			height: 40px;
		}

		@media (max-width:$md) {
			display: none;
		}

		@media (max-width:$xxs) {
			flex: 0 0 30px;
			width: 30px;
		}
	}

	// .pagging__item

	&__item {
		border: solid 1px #929292;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 18px;
		line-height: 22px;
		transition: all 0.3s ease 0s;
		font-weight: 500;
		font-size: 24px;

		@media (max-width:$lg) {
			font-size: 16px;
		}

		&:hover {
			border-color: var(--zelenyy);
		}

		&._active,
		&:active {
			background: var(--zelenyy);
			color: var(--seryy-temnyy);
		}
	}

	// .pagging__item-dots

	&__item-dots {
		color: #fff;
		font-weight: 500;
		font-size: 24px;
		border: solid 1px #929292;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;

		@media (max-width:$lg) {
			font-size: 16px;
		}

		&:hover {
			border-color: var(--zelenyy);
		}

		&:active {
			background: var(--zelenyy);
			color: var(--seryy-temnyy);
		}
	}
}