//#region Базовые стили 

body::after {
	content: "";
	background-color: rgba(29, 29, 35, 0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.8s ease 0s;
	pointer-events: none;
	z-index: 1490;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	cursor: url(@img/icons/icon_close-cursor-black.svg) 14 14, move;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	// .popup_center

	&_center {
		padding: 30px 10px;
	}

	// .popup__wrapper

	&__wrapper {
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		height: 100%;

		.popup_center & {
			justify-content: center;
			align-items: center;
			min-height: 100%;
			height: auto;
		}
	}

	// .popup__content

	&__content {
		cursor: auto;
		visibility: hidden;
		transform: translate(120%, 0px);
		transition: all 0.6s ease 0s;
		background: var(--seryy-svetlyy);
		border-radius: 20px;
		max-width: 841px;
		width: 100%;
		height: 100%;
		padding: rem(100) rem(60) rem(84);

		@media (max-width:$md) {
			padding: rem(60) rem(16);
		}

		.popup_show & {
			visibility: visible;
			transform: translate(0px, 0px);
		}

		.popup_center & {
			transform: scale(0);
			height: auto;
			max-height: 100%;
		}

		.popup_center.popup_show & {
			transform: scale(1);
		}

		.video-popup & {
			max-width: 100%;
		}

		.lock & {
			visibility: visible;
		}
	}

	// .popup__close

	&__close {
		outline: none;
		width: 25px;
		height: 25px;
		flex: 0 0 25px;
		position: absolute;
		top: 33px;
		right: 33px;

		svg {
			height: 100%;
			width: 100%;

			use {
				fill: #fff;
			}
		}
	}

	// .popup__close-svg

	&__close-svg {
		height: 100%;
		width: 100%;
	}

	// .popup__text

	&__text {
		font-weight: 500;
		font-size: 24px;
		line-height: 120%;
		max-width: 586px;
		margin-bottom: rem(60);
	}

	// .popup__header

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width:$md) {
			padding: rem(30);
		}

		@media (max-width: em(679.98)) {
			padding: rem(15);
		}

		@media (max-width:$xs) {
			padding: rem(10);
		}

		.video-popup &,
		.basket-empty & {
			justify-content: flex-end;
		}
	}

	// .popup__video

	&__video {
		width: 100%;
		height: calc(100vh - 200px);

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	// .popup__title

	&__title {
		font-size: 36px;
		font-weight: 800;

		@media (max-width:$md) {
			font-size: 25px;
		}

		@media (max-width:$xs) {

			#policy &,
			#consent & {
				font-size: 20px;
			}
		}
	}

	// .popup__main

	&__main {
		overflow: auto;
		height: calc(100% - 121px);

		.popup_center & {
			overflow: visible;
			height: auto;
		}

		#policy &,
		#consent & {
			height: calc(100% - 153px);
			@extend %hidescroll;
		}

		@media (max-width:$md) {}
	}

	// .popup__form

	&__form {}

	// .popup__icon

	&__icon {
		width: 38px;
		height: 30px;
	}
}

.popup_show {
	z-index: 1500;
	visibility: visible;
	pointer-events: auto;

	&.popup_center {
		overflow: auto;
	}
}

//#endregion

//#region Дополнительные стили

.popup {

	// .popup_center

	&_center {}

	// .popup__wrapper

	&__wrapper {}

	// .popup__content

	&__content {
		#share-popup & {
			max-width: 460px;

			@media (min-width:$xs) {
				padding: rem(60);
			}
		}

		#thanks & {
			max-width: 827px;
		}
	}

	// .popup__close

	&__close {}

	// .popup__text

	&__text {}

	// .popup__header

	&__header {
		#share-popup & {
			margin-bottom: rem(40);
		}
	}

	// .popup__close-svg

	&__close-svg {}

	// .popup__video

	&__video {}

	// .popup__title

	&__title {
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 60px;
		line-height: 95%;
		margin-bottom: rem(30);
	}

	// .popup__main

	&__main {
		#share-popup & {
			height: auto;
		}
	}

	// .popup__form

	&__form {}

	// .popup__icon

	&__icon {}
}

//#endregion

//#region Стили модалки шаринга
.share {

	// .share__social

	&__social {
		margin-bottom: rem(40);
	}

	// .share__copy-url

	&__copy-url {}

	// .share__input

	&__input {}

	// .share__button

	&__button {
		margin-top: rem(40);
		width: 100%;
	}
}

//#endregion



.thanks-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	img {
		max-width: 100%;

		@media (max-width:$md) {
			width: 100px;
		}
	}

	// .thanks-block__title

	&__title {
		margin-bottom: rem(24);
		margin-top: rem(57);
	}

	// .thanks-block__text

	&__text {
		line-height: 120%;
	}
}