// ===============
// colors palette
// ===============
:root {
	// Цвета
	--red-error: #ca2e33; // цвет ошибки в формах
	--seryy-svetlyy: #515151;
	--seryy-temnyy: #393939;
	--zelenyy: #a5ff14;
	--fon: #ececec;

	// Шрифты
	--font-family: "Raleway", sans-serif;
	--second-family: "Roboto", sans-serif;
	--third-family: "Montserrat", sans-serif;
	--font3: "Dela Gothic One", sans-serif;
}