//<FORM>
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input::-webkit-passman-key {
	display: none;
	width: 0;
}

textarea {
	min-height: 52px;
	resize: vertical;

	&::-webkit-scrollbar {
		display: none;
	}
}

// Снипет (HTML):

.form {

	// .form__line

	&__line {
		position: relative;

		&+.form__line {
			margin-top: rem(60);
		}

		&._form-focus {
			.form__label {
				// top: -20px;
				// left: 0;
				font-size: 12px;
				line-height: 22px;
			}
		}
	}

	// .form__label

	&__label {
		transition: all 0.3s ease 0s;
		// top: 13px;
		// left: 16px;
		padding-left: rem(15);
		color: #fff;
		font-size: 24px;
		font-weight: 500;
		line-height: 22px;
		pointer-events: none;

		.has-error & {
			// top: 35px;
		}
	}

	// .form__input

	&__input {
		outline: none;
		background: transparent;
		border-bottom: 1px solid #fff;
		height: 26px;
		padding: rem(0) rem(32) rem(0) rem(0);
		width: 100%;
		color: #fff;
		font-size: 18px;

		&:hover {
			border-bottom: 1px solid var(--zelenyy);
		}

		.has-error & {
			border-bottom: 1px solid var(--red-error);
		}

		&.parsley-error {
			border-bottom: 2px solid var(--red-error);
		}
	}

	// .form__clear-svg

	&__clear-svg {
		cursor: pointer;
		position: absolute;
		width: 32px;
		height: 32px;
		padding: rem(8);
		top: 8px;
		right: 4px;
		display: none;
		transition: all 0.3s ease 0s;
		border-radius: 4px;

		&:hover {
			background: rgba(61, 74, 98, 0.07);

			use {
				fill: #AA2040;
			}
		}

		&._active {
			display: block;
		}

		use {
			fill: #8A8A8A;
		}
	}

	// .form__viewpass

	&__viewpass {
		width: 25px;
		height: 23px;
		background: url(@img/icons/icon_pass.svg);
		position: absolute;
		right: 40px;
		top: 12px;
		cursor: pointer;
		opacity: 0;

		&._viewpass-active {
			background: url(@img/icons/icon_pass-active.svg);
		}

		._form-focus & {
			opacity: 0.3;

			&:hover {
				opacity: 1;
			}
		}
	}

	// .form__check

	&__check {
		margin: rem(40) 0 rem(60) 0;

		@media (max-width:$sm) {
			margin: rem(40) 0;
		}
	}

	// .form__button

	&__button {
		width: 100%;
	}
}

.parsley-errors-list {
	position: absolute;
	padding: rem(10) 0;
	color: var(--red-error);

	// margin-bottom: rem(-20);
	.form__line_file & {
		top: 25px;
		left: 40px;
		font-size: 14px;
		font-weight: 500;
	}
}

//</FORM>
//#region 

.input {

	// .input__file

	&__file {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	// .input__file-button

	&__file-button {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;

		&:hover {
			color: var(--zelenyy);
		}
	}

	// .input__file-icon-wrapper

	&__file-icon-wrapper {}

	// .input__file-icon

	&__file-icon {
		width: 30px;
		height: 30px;

		.clear-btn & {
			width: 20px;
			height: 20px;
		}

		use {
			fill: none;
			stroke: var(--zelenyy);

			.clear-btn & {
				fill: var(--zelenyy);
			}
		}
	}

	// .input__file-button-text

	&__file-button-text {}
}

//#endregion

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
@import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
@import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";