// Заголовки, общие БЄМ блоки и проче...
.btn-green {
   display: inline-block;
   background: var(--zelenyy);
   color: #000;
   border-radius: 10px;
   padding: 25px 41px;
   font-weight: 700;
   font-size: 24px;
   text-align: center;
   color: var(--seryy-temnyy);

   &:hover {
      background: #91eb00;
   }

   &:active {
      background: #7dd700;
   }
}

.services-block {
   color: #000;
   padding: rem(100) 0;

   @media (max-width:$md) {
      padding: rem(60) 0;
   }

   // .services-block_grey

   &_grey {
      background: var(--fon);
   }

   // .services-block__container

   &__container {}

   // .services-block__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: var(--seryy-temnyy);
      margin-bottom: rem(80);

      @media (max-width:$md) {
         font-size: 40px;
         margin-bottom: rem(40);
      }
   }

   // .services-block__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @media (max-width:em(1599.98)) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$md) {
         grid-template-columns: 1fr;
      }
   }
}

.card-more {
   border-radius: 15px;
   background: var(--seryy-temnyy);
   color: #fff;
   padding: rem(30) rem(36);
   display: flex;
   flex-direction: column;
   position: relative;
   overflow: hidden;

   @media (max-width:$xxs) {
      padding: rem(20);
   }

   &:hover {
      background: linear-gradient(180deg, #5bb200 0%, #9bf50a 71.74%, #c2f56f 100%);
      color: var(--seryy-temnyy);

      &::before {
         opacity: 1;

      }

      .card-more__more {
         transform: scale(1.5);

         svg {

            use {
               stroke: var(--seryy-temnyy)
            }
         }
      }
   }

   &:active {
      background: #71c804;
   }

   // .card-more__image-ibg

   &__image-ibg {
      height: 300px;
      flex: 0 0 300px;
      margin-bottom: rem(25);

      @media (max-width:$xs) {
         margin: 0 -30px;
      }
   }

   // .card-more__content

   &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      z-index: 1;
   }

   // .card-more__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      margin-bottom: rem(15);
   }

   // .card-more__text

   &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      margin-bottom: rem(20);
      flex: 1 1 auto;
   }

   // .card-more__more

   &__more {
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all 0.3s ease 0s;
      transform-origin: left bottom;

      svg {
         transition: all 0.3s ease 0s;
         width: 12px;
         height: 11px;

         use {
            fill: none;
            stroke: #fff;
         }
      }
   }

   // .card-more__link

   &__link {
      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 5;
      }
   }
}

.link-more {
   font-weight: 500;
   font-size: 24px;
   display: flex;
   align-items: center;
   gap: 10px;
   transition: all 0.3s ease 0s;
   transform-origin: left bottom;

   svg {
      transition: all 0.3s ease 0s;
      width: 18px;
      height: 18px;

      use {
         fill: none;
         stroke: #fff;
      }
   }

   &:hover {
      transform: scale(1.2);
   }
}

.work-stages {
   background: url('@img/work-stages-bg-1.svg') left bottom no-repeat;
   padding: rem(100) 0;

   @media (max-width:em(1549.98)) {
      background: url('@img/work-stages-bg-2.svg') right bottom no-repeat;
   }

   @media (max-width:$lg) {
      padding: rem(60) 0;
   }

   @media (max-width:$sm) {
      background: url('@img/work-stages-bg-3.svg') right center no-repeat;
   }

   // .work-stages__container

   &__container {}

   // .work-stages__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: var(--seryy-temnyy);
      margin-bottom: rem(80);

      @media (max-width:$md) {
         font-size: 40px;
         margin-bottom: rem(40);
      }
   }

   // .work-stages__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(4, 283px);
      grid-auto-rows: 1fr;
      justify-content: space-between;
      gap: 100px 0px;

      @media (max-width:em(1549.98)) {
         grid-template-columns: repeat(3, minmax(200px, 275px));
         gap: 100px;
      }

      @media (max-width:$lg) {
         grid-template-columns: repeat(2, 1fr);
         gap: 20px;
      }

      @media (max-width:$sm) {
         grid-template-columns: 1fr;
         max-width: 250px;
      }
   }

   // .work-stages__item

   &__item {
      background: var(--seryy-temnyy);
      border-radius: 15px;
      padding: rem(30) rem(44);
      position: relative;

      &::after {
         content: '';
         position: absolute;
         left: 100%;
         top: 50%;
         width: 100%;
         height: 6px;
         z-index: -1;
         background: url('@img/work-stages-line-horizontal.png') 0 0 repeat-x;
      }

      @media (min-width:em(1549.98)) {
         &:nth-child(4) {
            &::after {
               height: 100%;
               width: 6px;
               top: 100%;
               left: 50%;
               background: url('@img/work-stages-line-vertical.png') 0 0 repeat-x;
            }
         }

         &:nth-child(5) {
            grid-column: 4/5;

            &::after {
               background: none !important;
            }
         }

         &:nth-child(6) {
            grid-column: 3/4;
            grid-row: 2/3;
         }

         &:nth-child(7) {
            grid-column: 2/3;
            grid-row: 2/3;
         }
      }

      @media (max-width:em(1549.98)) and (min-width: $lg) {

         &:nth-child(3),
         &:nth-child(6) {
            &::after {
               height: 100%;
               width: 6px;
               top: 100%;
               left: 50%;
               background: url('@img/work-stages-line-vertical.png') 0 0 repeat-x;
            }
         }

         &:nth-child(4) {
            grid-column: 3/4;

            &::after {
               background: none !important;
            }
         }

         &:nth-child(5) {
            grid-column: 2/3;
            grid-row: 2/3;
         }

         &:nth-child(6) {
            grid-column: 1/2;
            grid-row: 2/3;

            &::before {
               content: '';
               position: absolute;
               left: 100%;
               top: 50%;
               width: 100%;
               height: 6px;
               z-index: -1;
               background: url('@img/work-stages-line-horizontal.png') 0 0 repeat-x;
            }
         }

         &:nth-child(7) {
            &::after {
               background: none !important;
            }
         }
      }

      @media (max-width:$xl) {
         padding: rem(30) rem(15);
      }

      @media (max-width:$lg) {
         &::after {
            background: none !important;
         }
      }
   }

   // .work-stages__image-ibg

   &__image-ibg {
      width: 120px;
      height: 120px;
      margin-bottom: rem(10);
   }

   // .work-stages__item-text

   &__item-text {
      font-weight: 700;
      font-size: 24px;
   }
}

.page-form {
   background: var(--seryy-svetlyy);
   position: relative;

   // .page-form__container

   &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width:$lg) {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 356px;
      }
   }

   // .page-form__main

   &__main {
      padding: rem(100) 0;
      margin-right: rem(50);
      max-width: 607px;

      @media (max-width:$xl) {
         margin-right: 0;
      }

      @media (max-width:$lg) {
         padding: rem(60) 0;
      }
   }

   // .page-form__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      margin-bottom: rem(30);

      @media (max-width:$md) {
         font-size: 40px;
         margin-bottom: rem(20);
      }
   }

   // .page-form__text

   &__text {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: rem(60);
      max-width: 570px;
      line-height: 120%;

      @media (max-width:$md) {
         font-size: 16px;
         margin-bottom: rem(40);
         max-width: 335px;
      }
   }

   // .page-form__form

   &__form {
      .form__button {
         width: 373px;

         @media (max-width:$xl) {
            width: 280px;
            font-size: 20px;
         }

         @media (max-width:em(639.98)) {
            width: 100%;
         }
      }
   }

   // .page-form__image-ibg

   &__image-ibg {
      position: absolute;
      height: 100%;
      width: 50%;
      right: 0;

      @media (max-width:$xl) {
         width: 44%;
      }

      @media (max-width:$lg) {
         position: relative;
         width: auto;
         height: auto;
         @include adaptiveValue("margin-left", -60, -20, 0, 991.98, 767.98);
         @include adaptiveValue("margin-right", -60, -20, 0, 991.98, 767.98);
      }

      .page-form__fig-img {
         object-fit: contain;
         padding: rem(50);

         @media (max-width:$xl) {
            object-position: 0px 35%;
            padding: rem(20);
         }

         @media (max-width:$lg) {
            object-position: center;
         }
      }
   }

   // .page-form__fig-img

   &__fig-img {}
}

.page-title {
   font-family: var(--second-family);
   font-weight: 700;
   font-size: 68px;
   line-height: 95%;
   color: #fff;
   @include adaptiveValue("font-size", 68, 48, 3, 1000, 767);
}

.work-examples {
   padding: rem(100) 0;
   // .work-examples_grey

   &_grey {
      background: var(--fon);
   }

   @media (max-width:$lg) {
      padding: rem(60) 0;
   }

   // .work-examples__container

   &__container {}

   // .work-examples__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: var(--seryy-temnyy);
      max-width: 970px;
      margin-bottom: rem(20);

      @media (max-width:$lg) {
         font-size: 40px;
      }
   }

   // .work-examples__slider

   &__slider {}

   // .work-examples__wrapper

   &__wrapper {}

   // .work-examples__nav

   &__nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      margin-bottom: rem(27);
   }

   // .work-examples__slide

   &__slide {}

   // .work-examples__image-ibg

   &__image-ibg {
      border-radius: 15px;
      overflow: hidden;
      height: 405px;
      display: block;
      border: 5px solid transparent;

      @media (max-width:$xxl) {
         height: 373px;
      }

      @media (max-width:$xl) {
         height: 280px;
      }

      @media (max-width:$md) {
         height: 250px;
      }

      &:hover {
         border: 5px solid var(--zelenyy);
      }
   }
}

.faq-block {
   padding: rem(100) 0;
   background: url("../img/printing-services-bg.svg") right bottom no-repeat;

   @media (max-width:$lg) {
      padding: rem(60) 0;
   }

   // .faq-block__container

   &__container {}

   // .faq-block__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: var(--seryy-temnyy);
      margin-bottom: rem(80);

      @media (max-width:$md) {
         font-size: 40px;
         margin-bottom: rem(40);
      }
   }

   // .faq-block__spollers

   &__spollers {
      max-width: 1255px;
   }
}

.prepare-price {
   padding: rem(100) 0;

   @media (max-width:$xl) and (min-width:$md) {
      background: url("../img/printing-services-bg.svg") right bottom no-repeat;
   }

   @media (max-width:$lg) {
      padding: rem(60) 0;
   }

   // .prepare-price__container

   &__container {}

   // .prepare-price__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: var(--seryy-temnyy);
      margin-bottom: rem(80);

      @media (max-width:$md) {
         font-size: 40px;
      }
   }

   // .prepare-price__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media (max-width:$xl) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$md) {
         grid-template-columns: 1fr;
      }
   }

   // .prepare-price__link

   &__link {
      color: var(--seryy-temnyy);
      margin-top: rem(80);
      justify-content: center;
      transform-origin: center;
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 28px;

      @media (max-width:$md) {
         margin-top: rem(40);
      }

      svg {
         use {
            stroke: var(--seryy-temnyy);
            stroke-width: 2px;
         }
      }
   }
}

.price-card {
   background: var(--seryy-temnyy);
   padding: rem(30) rem(36);
   border-radius: 15px;
   display: flex;
   flex-direction: column;

   @media (max-width:$xxs) {
      padding: rem(20);
   }

   // .price-card__image-ibg

   &__image-ibg {
      height: 300px;
      flex: 0 0 300px;
      margin-bottom: rem(25);

      @media (max-width:$sm) {

         img {
            object-fit: cover;
         }
      }
   }

   // .price-card__content

   &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   // .price-card__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 28px;
      margin-bottom: rem(15);
      line-height: 120%;

      @media (max-width:$xxs) {
         font-size: 24px;
      }
   }

   // .price-card__text

   &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      flex: 1 1 auto;
      margin-bottom: rem(51);

      @media (max-width:$xxl) {
         margin-bottom: rem(40);
      }
   }

   // .price-card__price

   &__price {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
   }
}

.text-block {
   padding: rem(100) 0;
   background: var(--fon);

   @media (max-width:$lg) {
      padding: rem(60) 0;
   }

   // .text-block__container

   &__container {
      display: grid;
      grid-template-columns: 688px 1fr;
      gap: 160px;

      @media (max-width:em(1599.98)) {
         grid-template-columns: 470px 1fr;
         gap: 60px;
      }

      @media (max-width:$xl) {
         grid-template-columns: 353px 1fr;
         gap: 40px;
      }

      @media (max-width:$lg) {
         display: flex;
         flex-direction: column-reverse;
      }
   }

   // .text-block__image-ibg

   &__image-ibg {
      border-radius: 15px;
      overflow: hidden;

      @media (max-width:$lg) {
         flex: 0 0 335px;
      }
   }

   // .text-block__main

   &__main {}

   // .text-block__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: var(--seryy-temnyy);
      margin-bottom: rem(40);

      @media (max-width:$md) {
         font-size: 40px;
         margin-bottom: rem(20);
      }
   }

   // .text-block__content

   &__content {
      font-weight: 500;
      font-size: 24px;
      color: var(--seryy-temnyy);
      line-height: 120%;

      @media (max-width:$md) {
         font-size: 16px;
      }

      h3 {
         font-weight: 700;
      }

      ul {
         padding-left: rem(25);

         li {
            list-style: disc;
         }
      }

      & :not(:last-child) {
         padding-bottom: rem(20);
      }
   }
}

.price-block {
   padding: rem(100) 0;
   background: url('@img/table-bg.svg') right bottom no-repeat;

   @media (max-width:$lg) {
      padding: rem(60) 0;
   }

   // .price-block__container

   &__container {}

   // .price-block__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: var(--seryy-temnyy);
      margin-bottom: rem(40);

      @media (max-width:$md) {
         font-size: 40px;
         margin-bottom: rem(20);
      }
   }

   // .price-block__subtitle

   &__subtitle {
      font-weight: 500;
      font-size: 24px;
      color: var(--seryy-temnyy);
      margin-bottom: rem(80);

      @media (max-width:$md) {
         margin-bottom: rem(40);
         font-size: 16px;
      }
   }

   // .price-block__table

   &__table {
      color: #000;
      margin-bottom: rem(40);
      overflow: auto;
      @extend %hidescroll;

      @media (max-width:$md) {
         margin-bottom: rem(20);
      }
   }

   // .price-block__caption

   &__caption {
      font-weight: 500;
      font-size: 16px;
      color: var(--seryy-temnyy);
   }
}

table {
   min-width: 880px;
   width: 100%;
   border: 1px solid var(--seryy-temnyy);
   border-radius: 13px;
   overflow: hidden;
   border-spacing: 0;

   th {
      color: #fff;
      background: #6f6f6f;
      padding: rem(40) 0;
      border: 1px solid var(--seryy-temnyy);
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 28px;

      @media (max-width:$xl) {
         padding: rem(20) 0;
      }

      &:first-child {
         vertical-align: top;
      }
   }

   tr {
      &:nth-child(odd) {
         background: var(--fon);
      }

      &:nth-child(even) {
         background: #fff;
      }
   }

   td {
      text-align: center;
      font-weight: 500;
      font-size: 24px;
      color: var(--seryy-temnyy);
      padding: rem(40) 0;
      border: 1px solid var(--seryy-temnyy);

      @media (max-width:$xl) {
         padding: rem(20) 0;
      }

      @media (max-width:$md) {
         font-size: 20px;
      }

      &:first-child {
         font-weight: 700;
      }
   }
}

.rules-block {
   background: var(--seryy-svetlyy);
   position: relative;
   // .rules-block__container

   &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width:$lg) {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 356px;
      }
   }

   // .rules-block__main

   &__main {
      padding: rem(100) 0;
      margin-right: rem(50);
      max-width: 607px;

      @media (max-width:$xl) {
         margin-right: 0;
         max-width: 100%;
      }

      @media (max-width:$lg) {
         padding: rem(60) 0;
      }
   }

   // .rules-block__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: #fff;
      margin-bottom: rem(40);

      @media (max-width:$md) {
         font-size: 40px;
         margin-bottom: rem(20);
      }
   }

   // .rules-block__content

   &__content {}

   // .rules-block__text

   &__text {
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;

      @media (max-width:$md) {
         font-size: 16px;
      }

      & * {
         padding-bottom: rem(30);
      }

      h3 {
         font-weight: 700;
         font-size: 28px;
         padding-bottom: rem(20);
         line-height: 120%;

         @media (max-width:$md) {
            font-size: 24px;
         }
      }
   }

   // .rules-block__more

   &__more {}

   // .rules-block__image-ibg

   &__image-ibg {
      position: absolute;
      height: 100%;
      width: 50%;
      right: 0;

      @media (max-width:$xl) {
         width: 44%;
      }

      @media (max-width:$lg) {
         position: relative;
         width: auto;
         height: auto;
         @include adaptiveValue("margin-left", -60, -20, 0, 991.98, 767.98);
         @include adaptiveValue("margin-right", -60, -20, 0, 991.98, 767.98);
      }

      .rules-block__fig-img {
         object-fit: contain;
         padding: rem(50);

         @media (max-width:$xl) {
            object-position: 0px 35%;
            padding: rem(20);
         }

         @media (max-width:$lg) {
            object-position: center;
         }
      }
   }

   // .rules-block__fig-img

   &__fig-img {}
}