.services {
   padding-top: rem(60);
   padding-bottom: rem(100);

   @media (max-width:$md) {
      padding-top: rem(40);
      padding-bottom: rem(60);
   }

   // .services__container

   &__container {}

   // .services__title

   &__title {
      margin-bottom: rem(80);

      @media (max-width:$md) {
         margin-bottom: rem(40);
      }
   }

   // .services__main

   &__main {
      max-width: 1538px;
   }

   // .services__item

   &__item {
      background: var(--seryy-temnyy);
      padding: rem(60) rem(40);
      border-radius: 20px;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 45px;
      position: relative;
      grid-template-rows: auto 1fr;

      @media (max-width:$xl) {
         .services_methods & {
            grid-template-columns: 1fr;
         }
      }

      @media (max-width:$lg) {
         grid-template-columns: 1fr;
      }

      @media (max-width:$md) {
         padding: rem(40) rem(20);
         gap: 20px;

         .services_methods & {
            padding: rem(40) rem(30);
         }
      }

      &:hover {
         .services__item-title {
            color: var(--zelenyy);
         }

         .services_methods & {
            background: linear-gradient(180deg, #5bb200 0%, #9bf50a 71.74%, #c2f56f 100%);

            .services__item-title,
            .services__item-descr {
               color: var(--seryy-temnyy);

               svg use {
                  stroke: var(--seryy-temnyy);
               }
            }

            .services__link {
               color: var(--seryy-temnyy);

               svg use {
                  stroke: var(--seryy-temnyy);
               }
            }
         }
      }

      &:not(:last-child) {
         margin-bottom: rem(40);
      }
   }

   // .services__item-link

   &__item-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
   }

   // .services__image-ibg

   &__image-ibg {
      width: 527px;
      height: 527px;
      grid-row: 1/3;

      .services_methods & {
         border-radius: 15px;
         overflow: hidden;
         width: 386px;
         height: 386px;
      }

      @media (max-width:$xxl) {
         grid-row: 1/2;
         width: 378px;
         height: 378px;

         .services_methods & {
            grid-row: 1/3;
         }
      }

      @media (max-width:$xl) {
         width: 280px;
         height: 280px;

         .services_methods & {
            grid-row: auto;
            width: 100%;
         }
      }

      @media (max-width:$lg) {
         grid-row: auto;
      }

      @media (max-width:$md) {
         width: 100%;
         max-width: 295px;
         height: 295px;

         .services_methods & {
            height: 255px;
            max-width: 100%;
         }
      }
   }

   // .services__item-content

   &__item-content {}

   // .services__item-title

   &__item-title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      margin-bottom: rem(40);
      @include adaptiveValue("font-size", 60, 28, 3, 1000, 375);

      @media (max-width:$md) {
         margin-bottom: rem(20);
      }
   }

   // .services__item-descr

   &__item-descr {
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      @include adaptiveValue("font-size", 24, 16, 3, 1000, 375);
   }

   // .services__links

   &__links {
      display: flex;
      flex-wrap: wrap;
      gap: 40px 60px;
      position: relative;
      z-index: 2;
      align-self: start;

      @media (max-width:$xxl) {
         grid-column: 1/3;

         .services_methods & {
            grid-column: auto;
         }
      }

      @media (max-width:$xl) {
         .services_methods & {
            grid-column: auto;
         }
      }

      @media (max-width:$lg) {
         grid-column: auto;
      }

      @media (max-width:$md) {
         gap: 20px;
      }
   }

   // .services__link

   &__link {
      @media (max-width:$lg) {
         grid-column: auto;
         font-size: 16px;
      }

      &:hover {
         color: var(--zelenyy);
         transform: scale(1);

         svg use {
            stroke: var(--zelenyy);
         }
      }
   }
}

.services-detail-fb {
   background: var(--seryy-svetlyy) url("../img/services-detail-fb-bg.png") 0 -246px no-repeat;

   // .services-detail-fb__container

   &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 100px;

      @media (max-width:$xl) {
         column-gap: 40px;
      }

      @media (max-width:$md) {
         display: block;
         position: relative;
      }

      .breadcrumbs {
         padding-top: rem(60);

         @media (max-width:$xl) and (min-width:$md) {
            grid-column: 1/3;
         }

         @media (max-width:$md) {
            padding-top: rem(40);
            margin-bottom: rem(280);
         }
      }
   }

   // .services-detail-fb__main

   &__main {
      padding-bottom: rem(150);

      @media (max-width:$xl) {
         padding-bottom: rem(100);
      }

      @media (max-width:$md) {
         padding-bottom: rem(60);
      }
   }

   // .services-detail-fb__title

   &__title {
      margin-bottom: rem(40);

      @media (max-width:$xl) {
         font-size: 60px;
      }

      @media (max-width:$lg) {
         font-size: 48px;
      }

      @media (max-width:$md) {
         margin-bottom: rem(20);
      }

      @media (max-width:$xxs) {
         font-size: 40px;
      }
   }

   // .services-detail-fb__descr

   &__descr {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: rem(60);
      line-height: 120%;

      @media (max-width:$xl) {
         font-size: 16px;
      }

      @media (max-width:$md) {
         margin-bottom: rem(40);
      }
   }

   // .services-detail-fb__btn

   &__btn {
      width: 373px;

      @media (max-width:$xl) {
         width: 280px;
      }

      @media (max-width:$sm) {
         width: 100%;
      }
   }

   // .services-detail-fb__bottom-text

   &__bottom-text {
      font-weight: 500;
      font-size: 16px;
      margin-top: rem(60);
   }

   // .services-detail-fb__image-ibg

   &__image-ibg {
      grid-row: 1/3;
      grid-column: 2/3;
      margin-top: rem(70);

      @media (max-width:$xl) {
         margin-top: rem(0);
         grid-row: 2/3;
      }

      @media (max-width:$md) {
         position: absolute;
         top: 82px;
         left: 20px;
         right: 20px;
         height: 240px;
      }

      @media (min-width:$md) {
         img {
            object-position: top;
         }
      }

      // .services-detail-fb__image-ibg_contain

      &_contain {}
   }
}

.printing-services {
   padding: rem(100) 0;
   background: url('@img/printing-services-bg.svg') right bottom no-repeat;

   @media (max-width:$lg) {
      padding: rem(60) 0;
   }

   @media (max-width:$md) {
      background: none;
   }

   // .printing-services__container

   &__container {}

   // .printing-services__title

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      line-height: 95%;
      color: var(--seryy-temnyy);
      margin-bottom: rem(80);

      @media (max-width:$md) {
         font-size: 40px;
         margin-bottom: rem(40);
      }
   }

   // .printing-services__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px 20px;

      @media (max-width:em(1649.98)) {
         grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width:$xxl) {
         grid-template-columns: repeat(2, 1fr);
         gap: 20px;
      }

      @media (max-width:$md) {
         grid-template-columns: 1fr;
      }
   }
}

.services-detail-main {
   padding: rem(100) 0;
   background: url('@img/services-detail-main-bg.svg') -236px 120px no-repeat;

   .price-page & {
      background: #fff url('@img/services-detail-main-bg.svg') -236px 120px no-repeat;
   }

   @media (max-width:$lg) {
      padding: rem(60) 0;
   }

   // .services-detail-main__container

   &__container {}

   // .services-detail-main__item

   &__item {
      max-width: 1400px;
      color: #000;
      padding: rem(60) rem(40);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      border-radius: 15px;

      @media (max-width:$md) {
         grid-template-columns: 1fr;
         padding: rem(40) rem(20);
         gap: 20px;
      }

      &:nth-child(odd) {
         background: var(--seryy-svetlyy);
         color: #fff;

         .price-page & {
            background: var(--seryy-temnyy);
         }
      }
   }

   // .services-detail-main__subtitle

   &__subtitle {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
   }

   // .services-detail-main__text

   &__text {
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
   }
}